@font-face {
  font-family: "iconfont"; /* Project id 4852889 */
  src: url('iconfont.woff2?t=1741612470138') format('woff2'),
       url('iconfont.woff?t=1741612470138') format('woff'),
       url('iconfont.ttf?t=1741612470138') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-secret:before {
  content: "\e703";
}

.icon-cunchu:before {
  content: "\e61d";
}

.icon-gongnengfuwufabu:before {
  content: "\e675";
}

.icon-pvc:before {
  content: "\e605";
}

.icon-configmap:before {
  content: "\e6eb";
}

.icon-fuwufabuguanli:before {
  content: "\e674";
}
.icon-daemonset:before {
  content: "\e674";
}


.icon-k8S-pv:before {
  content: "\e7db";
}

.icon-k8s_ingress:before {
  content: "\e7c6";
}

.icon-k8s_service:before {
  content: "\e650";
}
.icon-service:before {
  content: "\e650";
}

